/* prettier-ignore */
* {margin:0;padding:0;}
/* prettier-ignore */
#ffe_main h1, #ffe_main h2, #ffe_main h3, #ffe_main h4, #ffe_main h5, #ffe_main h6 {
  /* Headings and Paragraphs inside the main container */
  padding: 0 0 1rem;
  font-family: "Roboto", sans-serif;
  color:rgb(44,44,44);
}
#ffe_main p {
  padding: 0 0 1em;
  font-family: "Open Sans", sans-serif;
  color: rgb(44, 44, 44);
  font-size: 1.2rem;
  line-height: 1.5rem;
}
#ffe_main ul {
  margin: 0 0 1rem 2.5rem;
  line-height: 1.5rem;
  font-size: 1.2rem;
  color: rgb(44, 44, 44);
}
body {
  font-family: "Open Sans", sans-serif;
}
header {
  width: 100%;
  position: relative;
  background: #c4eb35;
  border-bottom: 0.1rem solid #b2da1d;
  height: 3rem;
  z-index: 3;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
}
footer {
  background: rgb(245, 245, 245);
  padding: 1rem 1rem 5rem;
}
.green_bar {
  height: 2.5rem;
  border-top: 0.1rem solid #d3ff33;
  border-bottom: 0.1rem solid #d3ff33;
  background: #bee52e;
}
.width_control {
  width: 77%;
  min-width: 300px;
  max-width: 1600px;
  margin: 0 auto;
}

footer h2 {
  padding: 1rem 0 1rem;
}
#departments ol {
  width: 100%;
}
#departments li {
  width: 100%;
  list-style: none;
  flex-basis: 150px;
  padding: 0.5rem 0.5rem 0 0;
}
#departments li a {
  display: block;
  padding: 0.5em 0;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  background: #bee52e;
  border-radius: 0.4rem;
  text-align: center;
}
#departments li a:hover {
  transition: background-color, 0.4s, color 0.4s;
  color: #fff;
  background-color: #000;
}
#ffe_main {
  position: relative;
  top: -5rem;
  padding: 9rem 1rem 0 5rem;
  min-height: 500px;
}
header .text_logo {
  padding: 0.7rem 1rem;
  background: rgb(0, 0, 0);
  /* transform: rotate(-3deg); */
  width: fit-content;
  color: #fff;
  z-index: 3;
  position: absolute;
  top: 0;
  text-transform: uppercase;
  border-bottom-right-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}
.text_logo h1 {
  font-size: 1.2rem;
  text-align: center;
}
.text_logo p {
  font-size: 0.8rem;
}

p {
  line-height: 1.6rem;
}
.presenter {
  height:15rem;
  overflow: hidden;
  /* Background is loaded inline in the wp_frontend class from wordpress */
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom left;
  position: relative;
}
.presenter img {
  width: 100vw;
  min-width:fit-content;
}
.presenter h2 {
  margin: 0 auto;
  /* background: rgba(30, 30, 30, 0.4); */
  padding: 0.5rem !important;
  box-sizing: border-box;
  border-radius: 0.4rem;
  width: fit-content;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: rgba(255, 255, 255);
  text-shadow: 1px 1px 2px #000;
}

/* Multimedia */
.video {
  display: block;
  margin: 0 auto;
  width: 95%;
  max-width: 1800px;
  min-width: 180px;
}

/* Users and contact info */
.kontakt_container {
  padding: 0 0 1rem;
}
.kontakt_container .kontakt {
  width: 20%;
  min-width: 180px;
  padding: 1rem;
  margin: 0 1rem 0 0;
  border-radius: 0.4rem;
  text-align: center;
}
.kontakt_container .kontakt img {
  width: 100px;
}
.profile_picture {
  border-radius: 50%;
  border: 5px solid #bee52e;
}
.address_box {
  /* Background is loaded inline in the wp_frontend class from wordpress */
  background-attachment: fixed;
  background-size: cover;
  max-width: 1900px;
  padding: 1rem;
  border-radius: 0.4rem;
  backdrop-filter: blur(5px);
  box-sizing: border-box;
  margin: 1rem;
}
.address_wrap {
  background: rgba(255, 255, 255, 0.7);
  padding: 0.5rem;
  box-sizing: border-box;
  border-radius: 0.4rem;
}
.nav_standard ol {
  position: absolute;
  right: 0;
  top: -1rem;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  z-index: 1;
}
.nav_standard ol li {
  /*  border: 0.3rem solid rgba(0, 0, 0, 0.1); */
  width: 9rem;
  height: 3rem;
  margin: 0 0.5rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.3rem;
  color: #fff;
  border-radius: 0.2rem;
  font-weight: bold;
}
.nav_standard ol li:hover {
  height: 4rem;
  transition: height 0.5s, border-color 0.5s, background 0.5s;
  border-color: rgba(0, 0, 0, 0.8);
  background: rgba(0, 0, 0, 0.8);
}
.nav_standard ol li a {
  text-decoration: none;
  padding: 1.5rem 0 2.4rem 0 !important;
  display: block;
  color: inherit;
  text-transform: uppercase;
}
#social {
  list-style-type: none;
  right: 0;
  margin: 1rem 0 0;
}
#social li {
  position: relative;
  flex-basis: 2.8rem;
  margin: 0 0.5rem 0;
}
#social img {
  width: 2.8rem;
}
#social img:hover {
  filter: grayscale(100%);
}
.flexbox {
  display: flex;
  flex-wrap: wrap;
}
.space_between {
  justify-content: space-between;
}
.space_around {
  justify-content: space-around;
}
footer .flexbox .flexer {
  flex-basis: 49%;
}

/* Links */
#ffe_main,
footer a:link {color:#83a700;}
#ffe_main,
footer a:visited {color:#83a700;}
#ffe_main,
footer a:hover {color:#000;}
#ffe_main,
footer a:active {color:#83a700;}
#admin_link {margin:4rem auto 2rem;}


/* YouTube videos */
.iframe-container {overflow:hidden;position:relative;margin:1rem;width:50%;float:right;}
.iframe-container iframe {width:100%;min-width:300px;}

/* For responsive <video> elements */
.video_container {margin:0 auto;width:50%;float:right;}
video {width:100%;min-width:300px;margin:1rem;}

#video_content {padding:1rem;}

/* xxx_list_template's */
#video_list {list-style-type:none;min-width:300px;max-width:50%;float:left;}
#video_list li {flex-basis:300px;margin:0 1rem 0 0;}
#video_list a,#post_list a {text-decoration:none;color:#000;display:block;position:relative;}
#video_list a:hover, #post_list a:hover {color:#7cbe00;}
.video_li_title {padding:1.5rem 0;top:-1rem}
.post_li_title, .video_li_title {font-weight:bold;font-family: "Roboto", sans-serif;background:#fff;position:relative;z-index:1;} 
.post_li_title {font-size:1.5rem;padding:0.2rem 0;}
.video_thumb, .thumb_box {min-width:200px;width:100%;max-height:280px;}
.thumb_box {overflow:hidden;position:relative;}
.video_thumb,.post_thumb {transition: transform .2s;}
.video_thumb:hover,.post_thumb:hover {transform: scale(1.1);}
#post_list {list-style-type:none;padding:2rem 0;clear:both;}
#post_list img {width:100%;}
#post_list li {flex-basis:500px;}

/* WYSIWYG specific styling */
blockquote {padding:1rem;font-style:italic;background:rgb(249,249,249);border-radius: 0.5rem;margin:0 0 1rem;}
blockquote cite, figcaption {padding:1rem;color:rgb(94, 94, 94);font-style:italic;}
blockquote cite:before {content:"–";}


.wp-block-image img {display:block;}
.aligncenter {clear:both;display:block;margin-left:auto;margin-right:auto;width:fit-content;}
.alignright {float:right;margin-left:1rem;width:fit-content;}
.alignleft {float:left;margin-right:1rem;width:fit-content;}

/* Site menu */
#nav_burger {
  position:absolute;top:0;right:0;display:none;z-index:3;
  border:0;width:2.3rem;height:2.3rem;font-size:2.3rem;background:none;outline:none;}
#nav_burger:hover {color:#fff;cursor:pointer;}

#burger_presenter {height:100vh;position:absolute;top:0;left:0;width:100%;background-size:cover;background-repeat:no-repeat;display:none;}

/* JS show_menu rules */
.show_menu {position:absolute;top:0;left:0;bottom:0;right:0;width:100vw;min-height:100vh;background:rgb(245, 245, 245);z-index: 3;}
.show_menu ol {display:block;margin:0 auto;position:relative;z-index:2;}
.show_menu ol li {margin:1rem;padding:0;display:block;height:auto;}
.show_menu ol li a {color:#000;background:#bee52e;border-radius:0.5rem;padding:1rem;margin:0 auto;display:block;width:8rem;text-decoration:none;font-weight:bold;font-family: "Roboto", sans-serif;text-align:center;transition: background-color, 0.4s, color 0.4s;}
.show_menu ol li a:hover {background:#000;color:#fff;}

.video_play_symbol {position:absolute;top:0.2rem;padding:0 0.5rem;text-align:right;width:100%;height:3.3rem;right:0.2rem;font-size:3rem;user-select:none;-ms-user-select:none;-moz-user-select:none;-webkit-user-select:none;z-index:2;}

@media screen and (max-width: 1200px) {
  .nav_standard ol {
    font-size: 0.9rem;
  }
  header .text_logo {
    font-size: 0.6rem;
  }
  #ffe_main {
    padding: 9rem 0 0 0;
  }
  footer .flexbox .flexer {
    flex-basis: auto;
  }
}

@media screen and (max-width: 1662px) {
  #video_list li {flex-basis:auto;}
  #video_list {justify-content:space-around;}
}

@media screen and (max-width: 1200px) {
  .nav_standard {
    height: 1rem;
    overflow: hidden;
  }
  .nav_standard ol {
    display: none;
    flex-wrap: initial;
  }
  #nav_burger {
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .kontakt_container {justify-content:space-around;}
  .presenter h2 {
    font-size: 5vw;
    bottom: 1rem;
    left: 1rem;
    padding: 0;
  }
  #video_list,#post_list {float:none;margin:0 auto;}
  #video_list li,#post_list li {flex-basis:auto;margin:0;}
  .iframe-container,.video_container {float:none;width:100%;}
  #post_list, #video_list {width:100%;max-width:100%;}
}